.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(228, 10, 43); /* Semi-transparent red */
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.5s all ease;
  backdrop-filter: blur(10px); /* Glassmorphism effect */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Light border to enhance glass effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */

  &.active {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    backdrop-filter: blur(10px);

    button {
      background-color: rgba(255, 255, 255, 0.8) !important;
      color: #1dbf73 !important;
      border: 1px solid #1dbf73 !important;
    }

    .dot {
      color: #1dbf73 !important;
    }
  }

  .container {
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;

    .logo {
      font-size: 34px;
      font-weight: bold;
      color: inherit; /* Inherits color from .navbar */

      .text {
      }

      .dot {
        font-weight: bold;
        color: white;
        transition: color 0.3s ease;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;

      span {
        white-space: nowrap;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        position: relative;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        .options {
          position: absolute;
          top: 50px;
          right: 0;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          z-index: 999;
          border: 1px solid lightgrey;
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 200px;
          font-weight: 300;
          color: gray;
        }
      }

      button {
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s ease, border-color 0.3s ease;

        &:hover {
          background-color: #1dbf73;
          border-color: #1dbf73;
        }
      }
    }
  }

  hr {
    width: calc(100% - 2px);
    height: 0;
    border-top: 0.5px solid #ebe9e9;
    border-bottom: 0.5px solid #ebe9e9;
  }

  .menu {
    width: 1400px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    color: gray;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
  }
}
